gal/src/main/resources/wsdl/northbound/provManagement/UNICA_API_SOAP_OProv_Management_interfaces_v7_1.wsdl

<!-- Release Date: January 20, 2012 --><wsdl:definitions targetNamespace="http://www.telefonica.com/wsdl/UNICA/SOAP/OProv_Management/v7/interfaces" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.telefonica.com/wsdl/UNICA/SOAP/OProv_Management/v7/interfaces" xmlns:uct="http://www.telefonica.com/schemas/UNICA/SOAP/common/v1" xmlns:ns="http://www.telefonica.com/schemas/UNICA/SOAP/OProv_Management/v7/" xmlns:ucf="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v1/faults" xmlns:ns1="http://www.telefonica.com/wsdl/UNICA/SOAP/OProv_Management/v7/local" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:import namespace="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v1/faults" location="UNICA_API_SOAP_common_faults_v1_1.wsdl"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.telefonica.com/wsdl/UNICA/SOAP/OProv_Management/v7/local" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/OProv_Management/v7/" schemaLocation="UNICA_API_SOAP_OProv_Management_types_v7_1.xsd"/>
			<xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/common/v1" schemaLocation="UNICA_API_SOAP_common_types_v1_1.xsd"/>
			<xsd:element name="getAllUsers">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
						<xsd:element name="searchParameters" type="uct:SearchParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllUsersResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="uct:UserIdType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userCreation" type="ns:UserCreationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalUserID" type="uct:UserIdType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="confirmUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalUserID" type="uct:UserIdType"/>
							<xsd:element name="userNickName" type="uct:UserIdType"/>
							<xsd:element name="userIdentity" type="uct:UserIdType"/>
						</xsd:choice>
						<xsd:element name="verificationCode" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalUserID" type="uct:UserIdType"/>
							<xsd:element name="userNickName" type="uct:UserIdType"/>
							<xsd:element name="userIdentity" type="uct:UserIdType"/>
						</xsd:choice>
						<xsd:element name="userUpdate" type="ns:UserUpdateType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUserDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalUserID" type="uct:UserIdType"/>
							<xsd:element name="userNickName" type="uct:UserIdType"/>
							<xsd:element name="userIdentity" type="uct:UserIdType"/>
							<xsd:element name="externalIdentity" type="uct:UserIdType"/>
						</xsd:choice>
						<xsd:element name="userRole" type="xsd:unsignedInt" minOccurs="0"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
						<xsd:element name="searchParameters" type="uct:SearchParamsType" minOccurs="0"/>							
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>

			<xsd:element name="getUserDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userInfo" type="ns:UserInfoType" maxOccurs="2"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="deleteUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalUserID" type="uct:UserIdType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAppProviders">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAppProvidersResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="uct:UserIdType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createAppProvider">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="appProviderCreation" type="ns:AppProviderCreationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateAppProvider">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="appProviderUpdate" type="ns:AppProviderUpdateType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAppProviderDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getAppProviderDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="appProviderInfo" type="ns:AppProviderInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteAppProvider">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalUserID" type="uct:UserIdType"/>
						<xsd:element name="deleteApps" type="xsd:boolean" minOccurs="0"/>
						<xsd:element name="deprecateApps" type="xsd:boolean" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setAppProviderTrustability">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppProvID" type="uct:UserIdType"/>
						<xsd:element name="isTrusted" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllApplications">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
						<xsd:element name="searchParameters" type="uct:SearchParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllApplicationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createApplication">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicationCreation" type="ns:ApplicationCreationType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createApplicationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int"/>
						<xsd:element name="appCredentials" type="ns:CredentialType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateApplication">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int"/>
						<xsd:element name="applicationUpdate" type="ns:ApplicationUpdateType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateApplicationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="appCredentials" type="ns:CredentialType" minOccurs="0" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicationDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="globalAppID" type="xsd:int"/>
							<xsd:element name="consumerKey" type="xsd:string"/>
						</xsd:choice>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getApplicationDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicationInfo" type="ns:ApplicationInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteApplication">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAppID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAssets">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAssetsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAssetDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAssetID" type="xsd:int"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getAssetDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="assetInfo" type="ns:AssetInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAPIs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllAPIsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAPIDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalAPIID" type="xsd:int"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getAPIDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="apiInfo" type="ns:APIInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllOBs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllOBsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOBDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalOBID" type="xsd:int"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getOBDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obInfo" type="ns:OBInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllServices">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="maxBatchSize" type="xsd:int" minOccurs="0"/>
						<xsd:element name="startIndex" type="xsd:int" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllServicesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalIdentifiers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="globalIdentifier" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getServiceDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="globalServiceID" type="xsd:string"/>
						<xsd:element name="filterParameters" type="uct:FilterParamsType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:annotation>
				<xsd:documentation>
					Possible values for the filter child elements are
					specified in the SOAP binding specification of this API
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="getServiceDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceInfo" type="ns:ServiceInfoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicableSLAs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entityCategory">
							<xsd:simpleType>
								<xsd:restriction base="xsd:int">
									<xsd:enumeration value="0"/>
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
									<xsd:enumeration value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getApplicableSLAsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="applicableSLAs">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="applicableSLA" type="ns:SLAType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetAllUsersRequest">
		<wsdl:part name="parameters" element="ns1:getAllUsers"/>
	</wsdl:message>
	<wsdl:message name="GetAllUsersResponse">
		<wsdl:part name="parameters" element="ns1:getAllUsersResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateUserRequest">
		<wsdl:part name="parameters" element="ns1:createUser"/>
	</wsdl:message>
	<wsdl:message name="CreateUserResponse">
		<wsdl:part name="parameters" element="ns1:createUserResponse"/>
	</wsdl:message>
	<wsdl:message name="ConfirmUserRequest">
		<wsdl:part name="parameters" element="ns1:confirmUser"/>
	</wsdl:message>
	<wsdl:message name="ConfirmUserResponse"/>

	<wsdl:message name="UpdateUserRequest">
		<wsdl:part name="parameters" element="ns1:updateUser"/>
	</wsdl:message>
	<wsdl:message name="UpdateUserResponse"/>

	<wsdl:message name="GetUserDetailsRequest">
		<wsdl:part name="parameters" element="ns1:getUserDetails"/>
	</wsdl:message>
	<wsdl:message name="GetUserDetailsResponse">
		<wsdl:part name="parameters" element="ns1:getUserDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteUserRequest">
		<wsdl:part name="parameters" element="ns1:deleteUser"/>
	</wsdl:message>
	<wsdl:message name="DeleteUserResponse"/>





	<wsdl:message name="GetAllAppProvidersRequest">
		<wsdl:part name="parameters" element="ns1:getAllAppProviders"/>
	</wsdl:message>
	<wsdl:message name="GetAllAppProvidersResponse">
		<wsdl:part name="parameters" element="ns1:getAllAppProvidersResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateAppProviderRequest">
		<wsdl:part name="parameters" element="ns1:createAppProvider"/>
	</wsdl:message>
	<wsdl:message name="CreateAppProviderResponse"/>

	<wsdl:message name="UpdateAppProviderRequest">
		<wsdl:part name="parameters" element="ns1:updateAppProvider"/>
	</wsdl:message>
	<wsdl:message name="UpdateAppProviderResponse"/>

	<wsdl:message name="GetAppProviderDetailsRequest">
		<wsdl:part name="parameters" element="ns1:getAppProviderDetails"/>
	</wsdl:message>
	<wsdl:message name="GetAppProviderDetailsResponse">
		<wsdl:part name="parameters" element="ns1:getAppProviderDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteAppProviderRequest">
		<wsdl:part name="parameters" element="ns1:deleteAppProvider"/>
	</wsdl:message>
	<wsdl:message name="DeleteAppProviderResponse"/>

	<wsdl:message name="SetAppProviderTrustabilityRequest">
		<wsdl:part name="parameters" element="ns1:setAppProviderTrustability"/>
	</wsdl:message>
	<wsdl:message name="SetAppProviderTrustabilityResponse"/>


	<wsdl:message name="GetAllApplicationsRequest">
		<wsdl:part name="parameters" element="ns1:getAllApplications"/>
	</wsdl:message>
	<wsdl:message name="GetAllApplicationsResponse">
		<wsdl:part name="parameters" element="ns1:getAllApplicationsResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateApplicationRequest">
		<wsdl:part name="parameters" element="ns1:createApplication"/>
	</wsdl:message>
	<wsdl:message name="CreateApplicationResponse">
		<wsdl:part name="parameters" element="ns1:createApplicationResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateApplicationRequest">
		<wsdl:part name="parameters" element="ns1:updateApplication"/>
	</wsdl:message>
	<wsdl:message name="UpdateApplicationResponse">
		<wsdl:part name="parameters" element="ns1:updateApplicationResponse"/>
	</wsdl:message>
	<wsdl:message name="GetApplicationDetailsRequest">
		<wsdl:part name="parameters" element="ns1:getApplicationDetails"/>
	</wsdl:message>
	<wsdl:message name="GetApplicationDetailsResponse">
		<wsdl:part name="parameters" element="ns1:getApplicationDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteApplicationRequest">
		<wsdl:part name="parameters" element="ns1:deleteApplication"/>
	</wsdl:message>
	<wsdl:message name="DeleteApplicationResponse"/>

	<wsdl:message name="GetAllAssetsRequest">
		<wsdl:part name="parameters" element="ns1:getAllAssets"/>
	</wsdl:message>
	<wsdl:message name="GetAllAssetsResponse">
		<wsdl:part name="parameters" element="ns1:getAllAssetsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAssetDetailsRequest">
		<wsdl:part name="parameters" element="ns1:getAssetDetails"/>
	</wsdl:message>
	<wsdl:message name="GetAssetDetailsResponse">
		<wsdl:part name="parameters" element="ns1:getAssetDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllAPIsRequest">
		<wsdl:part name="parameters" element="ns1:getAllAPIs"/>
	</wsdl:message>
	<wsdl:message name="GetAllAPIsResponse">
		<wsdl:part name="parameters" element="ns1:getAllAPIsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAPIDetailsRequest">
		<wsdl:part name="parameters" element="ns1:getAPIDetails"/>
	</wsdl:message>
	<wsdl:message name="GetAPIDetailsResponse">
		<wsdl:part name="parameters" element="ns1:getAPIDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllOBsRequest">
		<wsdl:part name="parameters" element="ns1:getAllOBs"/>
	</wsdl:message>
	<wsdl:message name="GetAllOBsResponse">
		<wsdl:part name="parameters" element="ns1:getAllOBsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetOBDetailsRequest">
		<wsdl:part name="parameters" element="ns1:getOBDetails"/>
	</wsdl:message>
	<wsdl:message name="GetOBDetailsResponse">
		<wsdl:part name="parameters" element="ns1:getOBDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetAllServicesRequest">
		<wsdl:part name="parameters" element="ns1:getAllServices"/>
	</wsdl:message>
	<wsdl:message name="GetAllServicesResponse">
		<wsdl:part name="parameters" element="ns1:getAllServicesResponse"/>
	</wsdl:message>
	<wsdl:message name="GetServiceDetailsRequest">
		<wsdl:part name="parameters" element="ns1:getServiceDetails"/>
	</wsdl:message>
	<wsdl:message name="GetServiceDetailsResponse">
		<wsdl:part name="parameters" element="ns1:getServiceDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetApplicableSLAsRequest">
		<wsdl:part name="parameters" element="ns1:getApplicableSLAs"/>
	</wsdl:message>
	<wsdl:message name="GetApplicableSLAsResponse">
		<wsdl:part name="parameters" element="ns1:getApplicableSLAsResponse"/>
	</wsdl:message>
	<wsdl:portType name="UserManagerPort">
		<wsdl:operation name="getAllUsers">
			<wsdl:input message="tns:GetAllUsersRequest"/>
			<wsdl:output message="tns:GetAllUsersResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="createUser">
			<wsdl:input message="tns:CreateUserRequest"/>
			<wsdl:output message="tns:CreateUserResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="confirmUser">
			<wsdl:input message="tns:ConfirmUserRequest"/>
			<wsdl:output message="tns:ConfirmUserResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="updateUser">
			<wsdl:input message="tns:UpdateUserRequest"/>
			<wsdl:output message="tns:UpdateUserResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="getUserDetails">
			<wsdl:input message="tns:GetUserDetailsRequest"/>
			<wsdl:output message="tns:GetUserDetailsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteUser">
			<wsdl:input message="tns:DeleteUserRequest"/>
			<wsdl:output message="tns:DeleteUserResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:portType name="AppProviderManagerPort">
		<wsdl:operation name="getAllAppProviders">
			<wsdl:input message="tns:GetAllAppProvidersRequest"/>
			<wsdl:output message="tns:GetAllAppProvidersResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="createAppProvider">
			<wsdl:input message="tns:CreateAppProviderRequest"/>
			<wsdl:output message="tns:CreateAppProviderResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="updateAppProvider">
			<wsdl:input message="tns:UpdateAppProviderRequest"/>
			<wsdl:output message="tns:UpdateAppProviderResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="getAppProviderDetails">
			<wsdl:input message="tns:GetAppProviderDetailsRequest"/>
			<wsdl:output message="tns:GetAppProviderDetailsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteAppProvider">
			<wsdl:input message="tns:DeleteAppProviderRequest"/>
			<wsdl:output message="tns:DeleteAppProviderResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="setAppProviderTrustability">
			<wsdl:input message="tns:SetAppProviderTrustabilityRequest"/>
			<wsdl:output message="tns:SetAppProviderTrustabilityResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AppManagerPort">
		<wsdl:operation name="getAllApplications">
			<wsdl:input message="tns:GetAllApplicationsRequest"/>
			<wsdl:output message="tns:GetAllApplicationsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="createApplication">
			<wsdl:input message="tns:CreateApplicationRequest"/>
			<wsdl:output message="tns:CreateApplicationResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="updateApplication">
			<wsdl:input message="tns:UpdateApplicationRequest"/>
			<wsdl:output message="tns:UpdateApplicationResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="getApplicationDetails">
			<wsdl:input message="tns:GetApplicationDetailsRequest"/>
			<wsdl:output message="tns:GetApplicationDetailsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="deleteApplication">
			<wsdl:input message="tns:DeleteApplicationRequest"/>
			<wsdl:output message="tns:DeleteApplicationResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AssetManagerPort">
		<wsdl:operation name="getAllAssets">
			<wsdl:input message="tns:GetAllAssetsRequest"/>
			<wsdl:output message="tns:GetAllAssetsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="getAssetDetails">
			<wsdl:input message="tns:GetAssetDetailsRequest"/>
			<wsdl:output message="tns:GetAssetDetailsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="APIManagerPort">
		<wsdl:operation name="getAllAPIs">
			<wsdl:input message="tns:GetAllAPIsRequest"/>
			<wsdl:output message="tns:GetAllAPIsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="getAPIDetails">
			<wsdl:input message="tns:GetAPIDetailsRequest"/>
			<wsdl:output message="tns:GetAPIDetailsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="OBManagerPort">
		<wsdl:operation name="getAllOBs">
			<wsdl:input message="tns:GetAllOBsRequest"/>
			<wsdl:output message="tns:GetAllOBsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="getOBDetails">
			<wsdl:input message="tns:GetOBDetailsRequest"/>
			<wsdl:output message="tns:GetOBDetailsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ServiceManagerPort">
		<wsdl:operation name="getAllServices">
			<wsdl:input message="tns:GetAllServicesRequest"/>
			<wsdl:output message="tns:GetAllServicesResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="getServiceDetails">
			<wsdl:input message="tns:GetServiceDetailsRequest"/>
			<wsdl:output message="tns:GetServiceDetailsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SLAManagerPort">
		<wsdl:operation name="getApplicableSLAs">
			<wsdl:input message="tns:GetApplicableSLAsRequest"/>
			<wsdl:output message="tns:GetApplicableSLAsResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>